.indicators
  &__header
    margin-bottom: 15px
  &__year
    text-align: center
    margin-bottom: 10px
  &__item
    &:not(:last-child)
      margin-bottom: 30px
  &__card
    &:not(:last-child)
      margin-bottom: 15px

.indicators-card
  & > *
    margin: 5px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0