.report
  &__title
    margin-bottom: 15px
  &__item
    &:not(:last-child)
      margin-bottom: 15px

.answer-card
  box-shadow: $shadow
  padding: 15px
  & > *
    margin: 5px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0