.filters
  margin-bottom: 15px
  &__list
    display: flex
    align-items: center
  &__item
    display: flex
    align-items: center
    &:not(:last-child)
      margin-right: 30px
  &__caption
    margin-right: 10px

.short
  &__item
    &:not(:last-child)
      margin-bottom: 15px

.short-card
  box-shadow: $shadow
  padding: 15px
  &__more
    display: block